<div class="col-lg">

  <h4 class="mb-3">{{ include.title }}</h4>

  {% for skill in include.source %}
  <script src="{{ '/assets/js/skills.js' | relative_url }}" defer></script>

  <!-- Skill label row -->
  <div class="skill-label">
    <span class="skill-name">{{ skill.name }}</span>
    <span class="skill-level">{{ skill.level }}</span>
  </div>

  <!-- Progress bar -->
  <div class="skill-progress-wrapper mb-4">
  <div class="progress mb-4" style="height: 8px;">
    <div
      class="progress-bar"
      role="progressbar"
      style="
        width: {{ skill.percentage }}%;
        background-color: var(--global-theme-color);
      "
      aria-valuenow="{{ skill.percentage }}"
      aria-valuemin="0"
      aria-valuemax="100">
    </div>
  </div>

  {% endfor %}

</div>